<h1> ¿Qué es un resource en el contexto de una aplicación web REST en Ruby on Rails?  </h1>
<p> Es el conjunto de rutas http, definidas para los modelos de un proyecto en ruby.
Es el conjunto de rutas http, definidas para los modelos de un proyecto en ruby. </p>

<h1> ¿Qué puede hacerse con un resource? </h1>
<p> Se pueden generar aplicaciones que permitan la creación, recolección y modificación de datos para una posible visualización o acción.</p>

<h1> ¿Qué es RESTful routing? </h1>
<p> Es el conjunto de reglas usadas para la creación de rutas en las páginas web, aplicando métodos y acciones al protocolo http. </p>

<h1> ¿Cuántas acciones básicas tiene esta filosofía? </h1>
<h1> ¿Cuáles son? </h1>
<h1> ¿Cuáles verbos HTTP se utilizan en cada una de ellas? </h1>
<p> Son 7 acciones básicas que se describen a continuación:
INDEX con el verbo GET que muestra una lista de todos los objetos.
NEW con el verbo GET que retorna un formulario para crear un nuevo objeto
CREATE con el verbo POST que crea un nuevo objeto
SHOW con el verbo GET que muestra un objeto
EDIT con el verbo GET que retorna un formulario para editar un objeto
UPDATE con el verbo PATCH que actualiza un objeto
DESTROY con el verbo DELETE que elimina un objeto
</p>

<p>
<%= link_to "home", home_path %>
</p>
