<h1> Inicialización de un repositorio de git nuevo en una aplicación existente.   </h1>
<p> git init    </p>

<h1> Creación de un nuevo branch.   </h1>
<p>  Con el comando git branch seguido del nombre de la rama que queremos crear.   </p>

<h1> Realizar un commit incluyendo todos los cambios actuales.   </h1>
<p> git add . para agregar todos los cambios, y luego git commit  -m “comentario”    </p>

<h1> Cómo enviar el código al repositorio remoto.   </h1>
<p>  git push   </p>

<h1> Cómo configurar el origen del repositorio remoto para evitar escribirlo siempre cada vez que se hace un push o un pull.   </h1>
<p> git remote add nombre url    </p>

<h1>  Diferencia entre un reset y revert.  </h1>
<p>   git reset borra todos los comit que se tenían en cola para subir.
git revert, revierte a un punto o comentario anterior, sin borrar ningún otro commit  </p>

<h1> Además de cambiar de ramas, para que más se puede utilizar el comando git checkout   </h1>
<p>  para crear ramas por ejemplo git checkout -b <branch-nombre>   </p>

<h1> Como puede ver los commits que se han realizado en el proyecto.   </h1>
<p>  git log   </p>

<h1>  He modificado dos archivos y quiero hacer un commit por cada uno de ellos, ¿como lo puedo hacer?  </h1>
<p>  git add archivo.extensión  es importante tener clara la extensión del archivo a subir   </p>

<h1>    </h1>
<p>     </p>



<p>
<%= link_to "home", home_path %>
</p>

