<h1>StaticPages#home</h1>
<nav>
  <ul class="nav navbar-nav navbar-right">
    <li><a href="#">basics</a></li>
    <li><a href="#">ruby</a></li>
    <li><a href="#">git</a></li>
  </ul>
</nav>
<p>Find me in app/views/static_pages/home.html.erb</p>
