<h1>StaticPages#home</h1>
<nav>
  <ul class="nav navbar-nav navbar-right">
    <%= link_to "basics", basics_path %>
    <%= link_to "ruby", ruby_path %>
    <%= link_to "git", git_path %>
  </ul>
</nav>
<p>Find me in app/views/static_pages/home.html.erb</p>
